@if(loaded){
    <div class="row my-3">
      <div class="div col-12 my-2">
        <h2 class="text-center text-secondary">{{idCosmetico?'EDITANDO '+ name.value : 'NUEVO COSMETICO '}}</h2>
      </div>
      <div class="col-md-6">
        <form [formGroup]="formCosmetico" (ngSubmit)="onSubmit()">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" [class.is-invalid]="name.touched && name.invalid" [class.is-valid] = "name.valid"
                   id="name" placeholder="Name"
                   formControlName="name">
            <label for="name">Nombre: </label>
            @if (name.invalid && (name.dirty || name.touched)){
              @if (name.errors ['required']){
                  <div class=" invalid feedback is-invalid">
                    Nombre es obligatorio
                  </div>
                }
              @if (name.errors ['maxlength']){
                  <div class=" invalid feedback is-invalid">
                    Nombre tiene un tamaño máximo de 50 carácteres
                  </div>
                }
              @if (name.errors ['minlength']){
                  <div class=" invalid feedback is-invalid">
                    Nombre tiene un tamaño minimo de 5 carácteres
                  </div>
                }
              @if (name.errors ['notOnlyWhiteSpace']){
                  <div class=" invalid feedback is-invalid">
                    Se debe rellenar el campo, no vale espacios en blanco
                  </div>
                }
              @if (name.errors ['forbiddenWords']){
                  <div class=" invalid feedback is-invalid">
                    No se pueden usar palabras malsonantes
                  </div>
                }
            }
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" [class.is-invalid]="name.touched && name.invalid" [class.is-valid] = "name.valid"
                   id="type" placeholder="Categoria"
                   formControlName="type">
            <label for="type">Categoría: </label>
            @if (type.invalid && (type.dirty || type.touched)){
              @if (type.errors ['required']){
                <div class=" invalid feedback is-invalid">
                  Categoría es obligatorio
                </div>
              }
              @if (type.errors ['maxlength']){
                <div class=" invalid feedback is-invalid">
                  Categoría tiene un tamaño máximo de 20 carácteres
                </div>
              }
              @if (type.errors ['minlength']){
                <div class=" invalid feedback is-invalid">
                  Categoría tiene un tamaño minimo de 3 carácteres
                </div>
              }
              @if (type.errors ['notOnlyWhiteSpace']){
                <div class=" invalid feedback is-invalid">
                  Se debe rellenar el campo, no vale espacios en blanco
                </div>
              }
              @if (type.errors ['forbiddenWords']){
                <div class=" invalid feedback is-invalid">
                  No se pueden usar palabras malsonantes
                </div>
              }
            }

          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" [class.is-invalid]="name.touched && name.invalid" [class.is-valid] = "name.valid"
                   id="brand" placeholder="Marca"
                   formControlName="brand">
            <label for="brand">Marca:</label>

            @if (brand.invalid && (brand.dirty || brand.touched)){
              @if (brand.errors ['required']){
                <div class=" invalid feedback is-invalid">
                  Marca es obligatorio
                </div>
              }
              @if (brand.errors ['maxlength']){
                <div class=" invalid feedback is-invalid">
                  Marca tiene un tamaño máximo de 30 carácteres
                </div>
              }
              @if (brand.errors ['minlength']){
                <div class=" invalid feedback is-invalid">
                  Marca tiene un tamaño minimo de 2 carácteres
                </div>
              }
              @if (brand.errors ['notOnlyWhiteSpace']){
                <div class=" invalid feedback is-invalid">
                  Se debe rellenar el campo, no vale espacios en blanco
                </div>
              }
              @if (brand.errors ['forbiddenWords']){
                <div class=" invalid feedback is-invalid">
                  No se pueden usar palabras malsonantes
                </div>
              }
            }

          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" [class.is-invalid]="name.touched && name.invalid" [class.is-valid] = "name.valid"
                   id="price" placeholder="Precio"
                   formControlName="price">
            <label for="">Precio:</label>

            @if (price.invalid && (price.dirty || price.touched)){
              @if (price.errors ['required']){
                <div class=" invalid feedback is-invalid">
                  Precio es obligatorio
                </div>
              }
              @if (price.errors ['min']){
                <div class=" invalid feedback is-invalid">
                  Debes poner un precio mayor a 0 a menos que lo quieras regalar...
                </div>
              }
            }
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" [class.is-invalid]="name.touched && name.invalid" [class.is-valid] = "name.valid"
                   id="image" placeholder="Imagen"
                   formControlName="image">
            <label for="">Imagen: </label>

            @if (image.invalid && (image.dirty || image.touched)){
              @if (image.errors ['required']){
                <div class=" invalid feedback is-invalid">
                  Imagen es obligatorio
                </div>
              }
              @if (image.errors ['minlength']){
                <div class=" invalid feedback is-invalid">
                  Imagen tiene un tamaño minimo de 7 carácteres
                </div>
              }
            }
          </div>

          <div class="row justify-content-end">
            <div class="col-2">
              <button class="btn btn-outline-success"
                      [disabled]="formCosmetico.invalid"
                      type="submit"
              >ENVIAR
              </button>
            </div>
          </div>
        </form>

      </div>
      <div class="col-md-4 offset-2">
        <div class="card shadow">
          <div class="card-header bg-light-subtle">
            <h5 class="card-title text-capitalize">{{name.value? name.value : 'Nombre del cosmético'}}</h5>
          </div>
          <img [src]="image.value? image.value : '/images/no-imagen.jpg'" [alt]="name.value" class="card-img-top">
          <div class="card-body">
            <p class="badge bg-primary">{{ type.value? type.value : 'Categoría' }}</p>
            <p><strong>Marca: </strong><span class="text-primary">{{ brand.value? brand.value : 0 }}</span></p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            @if (price.value){
              <p>{{ price.value | currency: 'EUR' }}</p>
            } @else {
              <p>{{ 0 | currency: 'EUR' }}</p>
            }
            <h4>
              <fa-icon  [icon]="faEdit" class="text-primary"></fa-icon>
              <fa-icon  [icon]="faTrashCan" class="text-danger"></fa-icon>
            </h4>
          </div>
        </div>

      </div>
    </div>

  @if (show){
    <ngb-toast
      class="'toast-container position-fixed top-0 end-0 p-3', style: 'z-index: 1200'"
      [autohide]="true"
      [delay]="1000"
      [class]="toast.className">{{toast.text}}</ngb-toast>
  }

  }  @else {
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  }
